![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [38]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

       DR_NO   Date Rptd  ...  Status Desc                                 LOCATION
0  220314085  2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040  2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831  2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725  2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256  2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In [39]:
# Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

## First we need to extract the hour from the column 'TIME OCC' with a integer division. we change that column to numeric type.
crimes['TIME OCC'] = pd.to_numeric(crimes['TIME OCC'])
crimes['hour'] = crimes['TIME OCC'] // 100
crimes['hour'].head()

0    11
1    16
2    12
3     6
4     9
Name: hour, dtype: int64

In [40]:
#We count the crimes from the data based on the hour that it happened.
crime_count_by_hour = crimes['hour'].value_counts()
crime_count_by_hour

12    13663
18    10125
17     9964
20     9579
15     9393
19     9262
16     9224
14     8872
11     8787
0      8728
21     8701
22     8531
13     8474
10     8440
8      7523
23     7419
9      7092
1      5836
6      5621
7      5403
2      4726
3      3943
4      3238
5      3171
Name: hour, dtype: int64

In [41]:
# To identify the peak hour when crimes are commited at most we use the max function on the crime_count_by_hour.
peak_crime_hour = crime_count_by_hour.idxmax()
peak_crime_hour

12

In [42]:
# Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.

crimes['AREA NAME'].unique()

array(['Southwest', 'Olympic', 'Hollywood', '77th Street', 'Rampart',
       'N Hollywood', 'Mission', 'Devonshire', 'Central', 'Wilshire',
       'Newton', 'Northeast', 'Van Nuys', 'Hollenbeck', 'West Valley',
       'Foothill', 'Topanga', 'Southeast', 'Pacific', 'West LA', 'Harbor'],
      dtype=object)

In [43]:
# We are going to filter crimes for nighttime from 2200 to 359 hours.
night_filter= (crimes['hour'] >= 22) | (crimes['hour'] < 4)

night_crime = crimes[night_filter]
night_crime.head()

        DR_NO   Date Rptd  ...                                  LOCATION  hour
8   231207476  2023-02-27  ...   8800    HAAS                         AV     0
10  221711184  2022-06-15  ...   8300    WHITE OAK                    AV     1
30  221314362  2022-07-11  ...   1600 E  OLYMPIC                      BL     0
33  231307252  2023-03-03  ...                          6600 S  BROADWAY    23
36  221614254  2022-11-13  ...  10200    TELFAIR                      AV     0

[5 rows x 13 columns]

In [44]:
# now that we have filtered night crimes, we are going to count the frequencies, to know which area has the highest.

peak_night_crime_location = night_crime['AREA NAME'].value_counts().idxmax()
peak_night_crime_location

'Central'

In [45]:
# Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

# We separate the information to diferent age groups.
crimes['Age Group'] = pd.cut(crimes['Vict Age'], 
                             bins= [0, 17, 25, 34, 44, 54, 64, np.inf],
                             labels= ['0-17', '18-25', '26-34', '35-44', '45-54', '55-64', '65+']
)
crimes['Age Group'].head()

0    26-34
1    55-64
2    26-34
3    35-44
4      65+
Name: Age Group, dtype: category
Categories (7, object): ['0-17' < '18-25' < '26-34' < '35-44' < '45-54' < '55-64' < '65+']

In [46]:
# Finally we count the total number of crimes commited against each age group.
victim_ages = crimes['Age Group'].value_counts()
victim_ages

26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: Age Group, dtype: int64